<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/era.internal.tools/src/era/internal/tools/ecore/ExtendEcore.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="era.internal.tools.ecore.ExtendEcore"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="config/extendEcore.properties model/rif.ecore model/rif.extended.ecore"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="era.internal.tools"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dverbose=true"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:era.foss.model.core}"/>
</launchConfiguration>
