<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="era.foss.model.core.rif.editor.RifModelWizardID"
            name="%_UI_RifModelWizard_label"
            class="era.foss.model.core.rif.editor.RifModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RifModelFile.gif">
         <description>%_UI_RifModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="era.foss.model.core.rif.editor.RifEditorID"
            name="%_UI_RifEditor_label"
            icon="icons/full/obj16/RifModelFile.gif"
            extensions="rif"
            class="era.foss.model.core.rif.editor.RifEditor"
            contributorClass="era.foss.model.core.rif.editor.RifActionBarContributor">
      </editor>
   </extension>

</plugin>
